#about {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.leftAbout {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.circle-line {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: rgb(66, 180, 205);
    box-shadow: 2px 2px 20px rgb(66, 180, 205);
}

.line {
    width: 2px;
    height: 100px;
    background-color: aliceblue;

}

.aboutdetails {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;

}

.aboutdetails ul {
    list-style: none;
}

.aboutdetails h1 {
    background: linear-gradient(to right, rgb(198, 42, 96), white);
    background-clip: text;
    color: transparent;
}

.aboutdetails li {

    color: white;

}

.aboutdetails span {
    color: rgb(66, 180, 205)
}

.rightAbout {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px
}

@media (max-width: 750px) {
    #about {
        display: flex;
        flex-direction: column;
    }

    .leftAbout {
        width: 100%;
        padding: 15%;
    }

    .rightAbout {
        width: 100%;

    }
}