.card{
  width: 90%;
  max-width: 400px;
  height: 170px;
  background-color: rgb(33, 31, 33);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px black, 2px 2px 10px black;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  flex-shrink: 0;
  padding: 20px;
}
.card:hover{
  cursor: pointer;
  box-shadow: 2px 2px 10px rgb(66,180,225), 2px 2px 10px rgb(66,180,225);
}
.card .hovercard img{
  height: 80%;
  width: auto;
  filter: drop-shadow(2px 2px 10px black);
}
.hovercard{
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,rgba(88, 204, 227, 0.538),rgba(0, 0, 0, 0.548));  
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transform: translateY(100%);
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.card:hover .hovercard{
  transform: translateY(0%);
  transition: all 0.6s ease-in-out;
   backdrop-filter: blur(7px);
}
.card h1{
 background: linear-gradient(to right,rgb(66,180,225),white);
background-clip: text;
color: transparent;

}