#contact{
  width:100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}
.leftcontact{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftcontact img{
  width: 50%;
  filter: drop-shadow(2px 2px 8px rgb(66, 180, 205));
  
}

.rightcontact{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
form{
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(17, 20, 23);
  box-shadow: 2px 2px 10px black,2px 2px 20px black;
  border-radius: 20px;
}
form:hover{
  box-shadow: 2px 2px 15px rgb(66, 180, 205),2px 2px 25px rgb(66, 180, 205);
  transition: all 0.3s ease-in-out;
}
form input{
  width: 80%;
  height: 50px;
  border: 2px solid rgb(66, 180, 205);
  border-radius: 20px;
  padding: 20px;
  outline: none;
}
#textarea{
  width: 80%;
  height: 200px;
  border: 2px solid rgb(66, 180, 205);
  border-radius: 20px;
  padding: 20px;
  outline: none;
}
#btn{
  width: 100px;
  height: 50px;
  background-color: rgb(66, 180, 205);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
}

#btn:hover{
  background: transparent;
  color: rgb(66, 180, 205);
  transition: all 0.3s ease-in-out;
}
@media (max-width:750px){
  #contact{
    display: flex;
    flex-direction: column;
  }
  .leftcontact{
    width: 100%;
    height: 50vh;
    
  }
  .rightcontact{
    width: 100%;
  
  }
  .leftcontact img{
    width: 70%;
  }

}