nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgb(17, 20, 23);
}
nav ul a{
    cursor: pointer;
    text-decoration: none;
}
nav ul a:hover{
    color: rgb(62, 209, 209);
    border-bottom: 2px solid white;
}
.active
{
    color: rgb(62, 209, 209);
    border-bottom: 2px solid white;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    list-style: none;
    font-size: 20px;
}

nav h1{
    font-size: 35px;
    background: linear-gradient(to right,rgb(66, 180, 205),white);
    background-clip: text;
    color: transparent;
}
.hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:8px;
    cursor: pointer;
    display: none;
    
}
.ham{
   
    width: 40px;
    height: 2px;
    background-color: aliceblue;
    transition: all 0.5s ease-in-out;
}
.mobilemenu{
    position: absolute;
    top: 80px;
    height: 100vh;
    width: 100%;
    background-color: rgba(17, 20, 23, 0.476);
    backdrop-filter: blur(7px);
    right:0;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    gap: 50px;
}
.activemobile{
    transform: translateX(0%);
}
.activeham .ham:nth-child(1){
    transform: rotate(45deg);
    position: relative;
    top: 8px;
}
.activeham .ham:nth-child(2){
    opacity: 0;
}
.activeham .ham:nth-child(3){
    transform: rotate(-45deg);
    position: relative;
    top: -12px;
}
@media (max-width: 750px) {
    .desktopmenu{
        display: none;
    }
    .hamburger{
        display: flex;
    flex-direction: column;
    }
}










